<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Create Task</title>
</head>
<body>

<div class="container mt-4 mb-4">
    <h4 class="mb-3 ml-2">Create task</h4>
    <form th:action="@{|/tasks/create/${user_id}|}" th:object="${task}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" style="width: 300px" th:field="*{name}" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <input type="text" class="form-control" id="description" style="width: 300px" th:field="*{description}" required>
        </div>
        <button class="btn btn-primary">Add Task</button>
    </form>
</div>

</body>
</html>