<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Error</title>
</head>
<body>
<div class="container text-center mt-5">
    <h1 class="display-4 mb-3" th:text="${error_name}"></h1>
    <h4 class="display-5 mb-1" th:text="${error_description}"></h4>
    <img th:src="@{|/img/${error_img}|}" alt="GIF" width="400" height="300">
</div>
</body>
</html>