<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Info</title>
</head>
<body>

<div class="container mt-4 mb-4">
    <h3 class="mb-3">User Info:</h3>
    <p class="mb-1"><strong>Id:</strong> <span th:text="${user.id}"></span></p>
    <p class="mb-1"><strong>Name:</strong> <span th:text="${user.username}"></span></p>
    <p class="mb-1"><strong>Password:</strong> <span th:text="${user.password}"></span></p>
    <div class="mt-3">
        <a class="btn btn-primary mr-2" th:href="@{|/users/update/${user.id}|}">Update</a>
        <a class="btn btn-danger" th:href="@{|/users/delete/${user.id}|}">Delete</a>
    </div>
</div>

</body>
</html>